.heroSection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}

.heroSection h1 {
    font-family: "Cosmic Octo";
    font-size: 58px;
    word-spacing: -35px;
    text-align: center;
}

.heroSection .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

.heroSection p {
    text-align: center;
    width: 550px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heroSection #cap {
    background-color: #008080;
    width: auto;
    padding: 4px 10px;
    color: #f9fdfe;
    border-radius: 200px;
    font-size: 14px;
}

.heroSection form {
    border: 2px solid #008080;
    padding: 2px;
    border-radius: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #f9fdfe;
}

.heroSection input {
    font-size: 16px;
    border: none;
    padding-left: 15px;
    color: #008080;
    background-color: #f9fdfe;
    width: 360px;
    height: 30px;
}

.heroSection input::placeholder {
    color: #00808066;
}

.heroSection input:focus {
    outline: none;
}

.heroSection button {
    font-size: 16px;
    padding: 5px 25px;
    color: #f9fdfe;
    background-color: #008080;
    border: none;
    cursor: pointer;
    border-radius: 200px;
    height: 30px;
}

@media (max-width:600px) {
    .heroSection{
        margin-top: -200px;
    }
    .heroSection h1 {
        font-size: 40px;
        word-spacing: -25px;
    }

    .heroSection #cap {
        font-size: 12px;
    }

    .heroSection p {
        width: auto;
        font-size: 14px;
        padding: 0px 30px;
    }

    .heroSection input {
        font-size: 14px;
        width: 220px;
        height: auto;
    }

    .heroSection button {
        font-size: 14px;
        padding: 7px 20px;
        width: auto;
        height: auto;
    }

}