.navbar {
    position: sticky;
    top: 0;
    background-color: #f9fdfe;
    /* backdrop-filter: blur(10px); */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #f1f1f1;
    z-index: 10;
}

.navbar ul {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: auto;
}

.navbar li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}

.navbar a,
.navbar h1 {
    color: black;
    text-decoration: none;
    opacity: 50%;
}


.navbar .material-symbols-outlined {
    color: black;
    font-size: 27px;
}

.navbar .menu-bar {
    display: none;
}

.navbar #links {
    transition: all 0.5s;
}

.navbar .link {
    position: relative;
}

.navbar a:hover {
    /* font-weight: bold; */
    /* transition: .1s ease-in-out; */
    opacity: 100%;
}

.navbar .link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #a2d0d0;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.navbar .link:hover:after {
    width: 100%;
    right: 0;
    background: #a2d0d0;
}

.navbar #dropdown_menu {
    top: 70px;
    position: absolute;
    background-color: #f9fdfe;
    width: 100%;
    display: none;
}

.navbar .action_btn {
    height: 25px;
    margin-right: 100px;
    opacity: 80%;
    border-radius: 2px;
}

.navbar .action_btn:hover {
    opacity: 100%;
    transition: 1s ease-in-out;
}

.navbar .action_btn2 {
    height: 25px;
    margin-right: 100px;
    border-radius: 2px;
}

.navbar #dropdown_menu {
    transition: all 0.5s;
}

.navbar .logo {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}


.navbar .logo img {
    height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}



@media (max-width:640px) {
    .navbar {
        justify-content: space-evenly;
        border-bottom: 1px solid #f1f1f1;
    }

    .navbar .action_btn,
    .navbar .action_btn2,
    .navbar .logo {
        margin: 0;
    }


    .navbar #links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .menu-bar {
        display: block;
    }

    .navbar #dropdown_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f9fdfef9;
        overflow: hidden;
        max-height: 0px;
        transition: .5s ease-in-out;
        border-bottom: 1px solid #f1f1f1;
    }

    .navbar #dropdown_menu li {
        padding: 6px;
    }
}